/**
 * {{properCase name}}
 */

import React from 'react';

interface Props {
	/** React children */
	children?: React.ReactNode

	/** Optional className */
	className?: string;
}

/** Main description for this component. */
const {{properCase name}}: React.FC<Props> = ({ children }) => {
	return (
		<div>
			{children}
		</div>
	);
};

export default {{properCase name}};
